#{extends 'main.html' /}
#{set title:'Home' /}
#{sidebar active:'settings'/}

<div class="col-main">
	<div class="page-title">
		<h1>HCB Administrative Console</h1>
		<div class="buttons">
			<a class="button btn-edit" href="@{Settings.edit}"><span><span>Edit</span></span></a>
		</div>
	</div>

	<ul class="item-list">
		#{integrations.field title:'Attachments path', input_value:"${models.core.Property.get(models.core.Property.ATTACHMENTS_PATH)}"/}
		#{integrations.field title:'Integration data storage path', input_value:"${models.core.Property.get(models.core.Property.INT_STORAGE_PATH)}"/}
	</ul>

	<div class="buttons-set">
		<a class="button btn-edit" href="@{Settings.edit}"><span><span>Edit</span></span></a>
	</div>
	

</div>


