server/web-console/data/attachments/
server/web-console/precompiled/
server/web-console/tmp/

server/dispatcher-test/target/

server/mobile-dispatcher/target/
server/mobile-dispatcher/build/

server/web-console/db/
server/web-console/eclipse/classes/

