#{set 'moreScripts'}
	<script type="text/javascript" src="@{'/public/js/popup.scripts.js'}"></script>
#{/set}
#{extends 'main.html' /}
#{set title:'Home' /}

#{sidebar active:'prod_types'/}

<div class="col-main">
	<div class="page-title title-buttons">
		<h1>HCB Administrative Console</h1>
		<div class="buttons">		
			<a type="button" class="button btn-edit status-popup-button" href="@{ProductTypes.typesPopup}"><span><span>Add Mapping</span></span></a>
		</div>		
	</div>

#{if mappings.isEmpty()}
	<div>No product type mappings</div>
#{/if}
#{else}
<table class="data-table pst">
	<thead>
		<tr>
			<td class="img">&nbsp;</td>			
			<td class="name">Internal Name</td>
			<td class="status">Visible Name [EN]</td>
			<td class="status">Visible Name [RU]</td>
			<td class="btns">&nbsp;</td>
		</tr>		
	</thead>
	<tbody>
#{list items:mappings, as:'mapping'}
    <tr>
		<td class="img">
			<div class="item-img">
				<img src="@{ProductTypes.getPreview(mapping)}" alt="image placeholder" width="61px" height="59px"/>
			</div>
		</td>
    	<td>${mapping.internalName}</td>
    	<td>${mapping.visibleName_EN}</td>
    	<td>${mapping.visibleName_RU}</td>
		<td class="btns">
            <a class="button btn-small-grey" href="@{ProductTypes.delete(mapping.id)}"><span><span>Delete</span></span></a>
            <a class="button btn-small-blue banner-popup-button" href="@{ProductTypes.typesPopup(mapping.id)}"><span><span>Edit</span></span></a>
		</td>    	    	
    </tr>
#{/list}
	</tbody>
</table>
#{/else}

<div class="buttons-set">
	<a type="button" class="button btn-edit status-popup-button" href="@{ProductTypes.typesPopup}"><span><span>Add Mapping</span></span></a>
</div>

</div>